body{
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: rgb(124, 230, 133);
    top: 0;
    position: fixed;
    width: 925px;
}

a {
    display: inline-block;
    text-decoration: none;
    width: 60px;
    margin: 4px;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva,
      Verdana, sans-serif;
}

#minha_foto{
    margin-top: 100px;
    width: 200px;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    padding: 10px; 
    border: 5px solid black;
}
#cabecalho h1  {
     
    color: honeydew;
    font-size: medium;
    text-align: center;

}

p {
    font-size: 12px;
    line-height: 1.2;
}
    
.lado-esquerdo {
    width: 400px;
    float: left;

}
.lado-direiro {
    width: 300px;

    float: right;
}